.header{
    height: 6%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(62, 66, 64);
}

h1{
    border: 1px solid aliceblue;
    padding: .1rem 6%;
    border-radius: 5px;
}