<mat-drawer-container class="container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side">
    <mat-nav-list class="nav-list">
      <a mat-list-item routerLink="/">
        <i class="material-icons">home</i>Home
      </a>
      <a mat-list-item routerLink="/">
        <i class="material-icons">person_pin</i>Cliente
      </a>
      <a mat-list-item routerLink="/">
        <i class="material-icons">group</i>Funcionario
      </a>

      <a mat-list-item routerLink="/">
        <i class="material-icons">local_shipping</i>Encomenda
      </a>

      <a mat-list-item routerLink="/">
        <i class="material-icons">local_mall</i>Vendas
      </a>

      <a mat-list-item routerLink="/">
        <i class="material-icons">local_parking</i>Pedidos
      </a>

      <a mat-list-item [matMenuTriggerFor]="menu" >
        <mat-menu #menu="matMenu" >
          <a routerLink="" mat-menu-item class="menu">Salário</a>
          <a routerLink="" mat-menu-item class="menu">Gastos</a>
        </mat-menu>
        <i class="material-icons">work</i>Gestão
      </a>

    </mat-nav-list>
    </mat-drawer>
  
    <div class="sidenav-content">
      <button mat-button (click)="drawer.toggle()">
        <mat-icon>more_vert</mat-icon>
      </button>
      <router-outlet></router-outlet>
    </div>
  
  </mat-drawer-container>